
[V200R003C00]
#
 sysname AR1
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 undo info-center enable
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
acl number 2000  
 rule 0 permit source 192.168.10.0 0.0.0.255 
 rule 5 permit source 192.168.30.0 0.0.0.255 
 rule 10 permit source 192.168.50.0 0.0.0.255 
 rule 15 permit source 192.168.20.0 0.0.0.255 
 rule 20 permit source 192.168.40.0 0.0.0.255 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 192.168.60.100 255.255.255.0 
#
interface GigabitEthernet0/0/1
 ip address 192.168.70.100 255.255.255.0 
#
interface GigabitEthernet0/0/2
 ip address 200.200.200.1 255.255.255.0 
 nat static global 200.200.200.10 inside 192.168.50.253 netmask 255.255.255.255
 nat outbound 2000
#
interface NULL0
#
ospf 1 
 default-route-advertise
 area 0.0.0.0 
  network 192.168.60.0 0.0.0.255 
  network 192.168.70.0 0.0.0.255 
  network 200.200.200.0 0.0.0.255 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return